<a href="/" aria-label="tailus logo">
  <svg
    width="48"
    height="98"
    viewBox="0 0 203 294"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="101.5" cy="132.5" r="101.5" fill="#FED701"></circle>
    <path
      d="M88 112.85C94.8 113.65 99.65 115.95 102.55 119.75C105.45 123.45 106.9 127.95 106.9 133.25C106.9 136.55 106.4 139.7 105.4 142.7C104.4 145.6 103.2 148.1 101.8 150.2C100.4 152.2 99.2 153.5 98.2 154.1C94.2 156.7 82 158 61.6 158H32.5V72.5H67.75C75.75 72.5 82.2 72.95 87.1 73.85C92.1 74.65 96.15 76.55 99.25 79.55C102.35 82.45 103.9 86.9 103.9 92.9C103.9 98.1 102.6 102.3 100 105.5C97.5 108.7 93.5 110.9 88 112.1V112.85ZM76 90.65C75 89.65 73.8 89.05 72.4 88.85C71.1 88.55 69 88.4 66.1 88.4C63.2 88.4 61 88.45 59.5 88.55V106.85H61C61.5 106.85 63.6 106.85 67.3 106.85C71 106.85 73.45 106.6 74.65 106.1C75.55 105.7 76.35 104.65 77.05 102.95C77.85 101.25 78.25 99.4 78.25 97.4C78.25 94.4 77.5 92.15 76 90.65ZM78.55 140.75C79.25 140.15 79.8 139.05 80.2 137.45C80.7 135.75 80.95 134.05 80.95 132.35C80.95 130.25 80.65 128.3 80.05 126.5C79.55 124.6 78.85 123.25 77.95 122.45C77.05 121.55 75.75 120.95 74.05 120.65C72.45 120.35 69.7 120.2 65.8 120.2C63.3 120.2 61.2 120.25 59.5 120.35V142.1C64.2 142.2 68.4 142.15 72.1 141.95C75.8 141.65 77.95 141.25 78.55 140.75Z"
      fill="#008986"></path>
    <path
      d="M100.2 132.5H161.55V151.1H127.2V168.05H155.55V184.4H127.2V218H100.2V132.5Z"
      fill="#008986"></path>
    <rect x="100" y="163" width="27" height="93" fill="#008986"></rect>
    <rect x="32" y="41" width="26" height="107" fill="#008986"></rect>
    <path
      d="M98 101.85C104.8 102.65 109.65 104.95 112.55 108.75C115.45 112.45 116.9 116.95 116.9 122.25C116.9 125.55 116.4 128.7 115.4 131.7C114.4 134.6 113.2 137.1 111.8 139.2C110.4 141.2 109.2 142.5 108.2 143.1C104.2 145.7 92 147 71.6 147H42.5V61.5H77.75C85.75 61.5 92.2 61.95 97.1 62.85C102.1 63.65 106.15 65.55 109.25 68.55C112.35 71.45 113.9 75.9 113.9 81.9C113.9 87.1 112.6 91.3 110 94.5C107.5 97.7 103.5 99.9 98 101.1V101.85ZM86 79.65C85 78.65 83.8 78.05 82.4 77.85C81.1 77.55 79 77.4 76.1 77.4C73.2 77.4 71 77.45 69.5 77.55V95.85H71C71.5 95.85 73.6 95.85 77.3 95.85C81 95.85 83.45 95.6 84.65 95.1C85.55 94.7 86.35 93.65 87.05 91.95C87.85 90.25 88.25 88.4 88.25 86.4C88.25 83.4 87.5 81.15 86 79.65ZM88.55 129.75C89.25 129.15 89.8 128.05 90.2 126.45C90.7 124.75 90.95 123.05 90.95 121.35C90.95 119.25 90.65 117.3 90.05 115.5C89.55 113.6 88.85 112.25 87.95 111.45C87.05 110.55 85.75 109.95 84.05 109.65C82.45 109.35 79.7 109.2 75.8 109.2C73.3 109.2 71.2 109.25 69.5 109.35V131.1C74.2 131.2 78.4 131.15 82.1 130.95C85.8 130.65 87.95 130.25 88.55 129.75Z"
      fill="#FAFAD2"></path>
    <path
      d="M110.2 121.5H171.55V140.1H137.2V157.05H165.55V173.4H137.2V207H110.2V121.5Z"
      fill="#FAFAD2"></path>
    <rect x="110" y="207" width="27" height="33" fill="#FAFAD2"></rect>
    <rect x="42" y="30" width="26" height="47" fill="#FAFAD2"></rect>
  </svg>
</a>
